:root {
    /* Color variables */
    --primary-band: #012623;
    --primary-rgba: rgba(1, 38, 35, 0.3);
    --brown-band: #A6896F;
    --brown-rgba: rgba(166,137,111, 0.3);
    --text-band: #FFFFFF;
    --dark-navy-band: #013440;
    --light-navy-band: #2e4f63; 
    --light-navy-rgba: rgba(20, 63, 89, 0.3);
    --light-navy-rgba-hover: rgba(20, 63, 89, 0.2);
    --aqua-green-band: #244B34;
    --aqua-green-rgba: rgba(36, 75, 52, 0.35);

    /* Font variables */
    --primary-font: 'Roboto', sans-serif;
    --heading-font: 'Montserrat', sans-serif;
}

/* styles.css */

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.15);
    pointer-events: none;
    z-index: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/jess-hand.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}


.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-navy-band);
    color: var(--text-band);
    padding: 1.5rem 7rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    overflow-x: hidden;
}

.banner-logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.banner-logo {
    height: 6rem;
    flex: 0 0 auto;
}

.banner-name {
    font-family: "Whisper", cursive;
    font-weight: 100;
    font-style: normal;

    margin: 0;
    font-size: 3rem;
    text-align: left;
}

.banner-navigation {
    font-size: 1.6rem;
    font-weight: 100;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 2;
}

.banner-navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.banner-navigation li {
    margin: 0 1rem;
}

.banner-navigation a {
    color: #fff;
    text-decoration: none;
}

.banner-navigation a:hover {
    text-decoration: underline;
}

.banner-social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 0;
    flex: 0 0 auto;
    gap: 0.8rem;
}

.banner-social-media a {
    
    flex-shrink: 0;
}

.banner-social-media img {
    height: 3rem;
    display: block;
    max-width: 100%;
}

main {
    margin-top: 9rem; /*1.5 + 6 + 1.5 -> space for header*/
    padding: 0px;
}


section {
    position: relative;
    left: 50%;
    width: 100vw;
    margin-left: -50vw;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding: 40px 0;
    text-align: center;
}

h1 {
    color: var(--text-band);
    font-size: 3rem;
    font-weight: 100;
}

h2 {
    color: var(--text-band);
    font-size: 2rem;
    font-weight: 100;
}

footer {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--primary-band);
    color: var(--text-band);
    width: 100%;
    bottom: 0;
}

footer a {
    color: var(--text-band);
    text-decoration: none;
    font-weight: bold;
}


/* Desktop-Narrow */
@media (max-width: 84rem), ((hover: none) and (pointer:coarse)){
    .banner-navigation {
        display: none;
    }
}


/* Mobile or Desktop-Very-Narrow */
/* Most styling changes will go in here */
@media (max-aspect-ratio: 1.2/1), ((hover: none) and (pointer:coarse)) {
    body::before { /*perhaps move this to a lower max-width*/
        background-image: none;
        background-color: var(--primary-band);
        height: 100vh;
    }

    .banner {
        padding: 1.5rem 2rem;
    }
}

/* Mobile Only */
@media (max-aspect-ratio: 1/1), ((hover: none) and (pointer:coarse)) {
    .banner-name {
        display: none;
    }
}