:root {
    /* Color variables */
    --primary-band: #012623;
    --primary-rgba: rgba(1, 38, 35, 0.3);
    --brown-band: #A6896F;
    --brown-rgba: rgba(166,137,111, 0.3);
    --text-band: #FFFFFF;
    --dark-navy-band: #013440;
    --light-navy-band: #143F59; 
    --light-navy-rgba: rgba(20, 63, 89, 0.3);
    --light-navy-rgba-hover: rgba(20, 63, 89, 0.2);
    --aqua-green-band: #244B34;
    --aqua-green-rgba: rgba(36, 75, 52, 0.35);

    /* Font variables */
    --primary-font: 'Roboto', sans-serif;
    --heading-font: 'Montserrat', sans-serif;
}

/* styles.css */

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.15);
    pointer-events: none;
    z-index: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/jess-hand.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.banner {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: var(--text-band);
    padding: 1.5rem 7rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: background-color 0.1s linear;
}

.banner-logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.banner-logo {
    height: 6rem;
    flex: 0 0 auto;
}

.banner-name {
    font-family: "Whisper", cursive;
    font-weight: 100;
    font-style: normal;

    margin: 0;
    font-size: 3rem;
    text-align: left;
}

.banner-navigation {
    font-size: 1.6rem;
    font-weight: 100;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 2;
}

.banner-navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.banner-navigation li {
    margin: 0 1rem;
}

.banner-navigation a {
    color: #fff;
    text-decoration: none;
}

.banner-navigation a:hover {
    text-decoration: underline;
}

.banner-social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 0;
    flex: 0 0 auto;
    gap: 0.8rem;
}

.banner-social-media a {
    
    flex-shrink: 0;
}

.banner-social-media img {
    height: 3rem;
    display: block;
    max-width: 100%;
}

main {
    margin-top: 9rem; /*1.5 + 6 + 1.5 -> space for header*/
    padding: 0px;
}


section {
    position: relative;
    left: 50%;
    width: 100vw;
    margin-left: -50vw;
    box-sizing: border-box;
    margin-bottom: 0px;
    text-align: center;
}

#home {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7rem 7rem;
}

.home-text {
    flex: 1;
    /*text-align: left;*/

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-name {
    text-align: center;
    font-family: "Whisper", cursive;
    font-weight: 100;
    font-size: 6vw;
    margin: 0;
    color: var(--text-band);
}

.home-subtext {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    margin-top: 1rem;
    color: var(--text-band);
}

.home-mailing-button {
  display: inline-block;
  padding: 1rem 1rem;
  background-color: var(--text-band);
  color: var(--primary-band);
  text-decoration: none;
  font-weight: bold;
  border: 2px solid var(--primary-band);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.home-mailing-button:hover {
  background-color: var(--primary-band);
  color: var(--text-band);
  border-color: var(--text-band);
}

.home-logo {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
}

.home-logo img {
    width: 40vw;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

#about {
    background-color: var(--aqua-green-rgba);
    color: var(--text-band);
    padding: 3rem 7rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    flex: 1;
    text-align: left;
    padding-right: 1.5rem;
    font-weight: 100;
}

.about-text p:nth-of-type(1) {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.about-text p:nth-of-type(2) {
    font-size: 1.3rem;
    line-height: 1.6rem;
}


.about-epk-button {
  display: inline-block;
  padding: 1rem 1rem;
  background-color: var(--text-band);
  color: var(--primary-band);
  text-decoration: none;
  font-weight: bold;
  border: 2px solid var(--primary-band);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.about-epk-button:hover {
  background-color: var(--primary-band);
  color: var(--text-band);
  border-color: var(--text-band);
}

.about-image {
    flex: 1;
    width: 30vw;
    height: auto;
}

.about-image img {
    width: 100%;
    border-radius: 0.5rem;
}


#music {
    background-color: var(--light-navy-rgba);
    color: var(--text-band);

    padding: 3rem 7rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-image {
    flex: 1;
    width: 30vw;
    height: auto;
}

.song-image img {
    width: 100%;
    border-radius: 0.5rem;
}

.song-text {
    flex: 1;
    text-align: left;
    padding-left: 1.5rem;
    font-weight: 100;
}

.song-text p:nth-of-type(1) {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.song-text p:nth-of-type(2) {
    font-size: 1.2rem;
    line-height: 1.6;
}


#gigs {
    background-color: var(--aqua-green-rgba);
    color: var(--text-band);
    padding: 1.5rem 7rem;
}

.gigs-text {
    font-weight: 100;
}

.gigs-table{
    width: 100%;
    font-weight: 100;
    font-size: 1.3rem;
}

.gigs-table table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.gigs-table td, th {
    width: 33.333%;
    box-sizing: border-box;
    border-bottom: 1pt solid grey;
    padding: 0.5rem;
    text-align: left;
}

.gigs-table td a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
}

.gigs-table tr.past-gig,
.gigs-table tr.past-gig td,
.gigs-table tr.past-gig td a {
    color: #bfbfbf;
    opacity: 0.9;
}

.gigs-table tr:not(:first-child):hover{
    background-color: var(--light-navy-rgba-hover);
}


#contact {
    background-color: var(--light-navy-rgba);
    color: var(--text-band);
    padding: 1.5rem 7rem;
    font-weight: 100;
    font-size: 1.3rem;
    text-align: center;
}

#contact p {
    margin: 0 0 0.2rem 0;
    line-height: 1.4;
}

#contact a {
    color: var(--text-band);
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
    color: var(--text-band);
}



h2 {
    color: var(--text-band);
    font-size: 2rem;
    font-weight: 100;
}

footer {
    text-align: center;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--primary-band);
    color: var(--text-band);
    width: 100%;
    bottom: 0;
}

footer a {
    color: var(--text-band);
    text-decoration: none;
    font-weight: bold;
}


/* Desktop-Narrow */
@media (max-width: 84rem), ((hover: none) and (pointer:coarse)){
    .banner-navigation {
        display: none;
    }
}


/* Mobile or Desktop-Very-Narrow */
/* Most styling changes will go in here */
@media (max-aspect-ratio: 1.2/1), ((hover: none) and (pointer:coarse)) {

    .banner {
        padding: 1.5rem 2rem;
    }

    #home {
        flex-direction: column;
        padding: 1.5rem 2rem;
        text-align: center;
    }

    .home-name {
        font-size: 10vw;
    }

    .home-logo img {
        width : 80vw;
    }

    #about {
        flex-direction: column;
        padding: 1.5rem 2rem;
        text-align: center;
    }

    .about-image {
        width: 80vw;
        margin-top: 1.5rem;
    }

    .about-text {
        text-align: center;
        padding-right: 0;
    }

    

    #music {
        flex-direction: column-reverse;
        padding: 1.5rem 2rem;
        text-align: center;
    }

    .song-image {
        width: 80vw;
        margin-top: 1.5rem;
    }

    #gigs {
    padding: 1.5rem 2rem;
    }

    #contact {
        padding: 1.5rem 2rem;
    }

}

/* Mobile Only */
@media (max-aspect-ratio: 1/1), ((hover: none) and (pointer:coarse)) {
    body::before { /*perhaps move this to a lower max-width*/
        background-image: none;
        background-color: var(--primary-band);
        height: 100vh;
    }


    .banner-name {
        display: none;
    }

    .banner {
        padding: 0.75rem 0.75rem;
    }

    .banner-logo {
        height: 3rem;
    }

    .banner-social-media img {
        height: 2rem;
    }

    #home {
        flex-direction: column;
        padding: 1.5rem 1rem;
        text-align: center;
    }

    #about {
        flex-direction: column;
        padding: 1.5rem 1rem;
        text-align: center;
    }

    #music {
        flex-direction: column-reverse;
        padding: 1.5rem 1rem;
        text-align: center;
    }

    #gigs {
    padding: 1.5rem 1rem;
    }

    #contact {
        padding: 1.5rem 1rem;
    }


}